<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>It's my honor you decided to learn more about me :)</p>
    {{> footer}}
  </body>
</html>
